<html>
<head>
<style>
.hi{
  width: 300px;
  border: 15px solid yellow;
  padding: 50px;
  margin: 2px;
  background-color: lightblue;
}
</style>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/250px-IMDB_Logo_2016.svg.png" alt="imdb">
<div class="hi">
  <form action = "http://localhost:5000/result" method = "POST">
<p>Name <input type = "text" name = "Code" /></p>
  <hr>
<p><input type = "submit" value = "submit" /></p>
</form>
    </div>
</body>
</html>